@import 'owl-carousel/owl.carousel';

$maincolor: #005ECE;
.wmc{

	&_flexi{
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		a{
			text-decoration: none;
		}
	}
	&_button{
		position: fixed;
		right: 30px;
		bottom: 30px;
		background-size: 50px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		border-top-left-radius: 32.66px;
		border-top-right-radius: 33.45px;
		border-bottom-left-radius: 51.42px;
		width: 90px;
		height: 90px;
		z-index: 999;
		background-color: #eaeaea;
		&:hover{
			background-color: #dedede;
			transition: 200ms all ease-in-out;
		}
	}
	&_welcome{
		font-weight: 100;
		font-size: 14px;
		text-align: center;
	    letter-spacing: 0.01rem;
	}
	&_overlay{
		background: #1A1A1A;
		position: fixed;
		width: 100%;
		height: 100%;
		top:0;
		z-index: 9;
		opacity: 0;
		transition: all 350ms ease-in;
		pointer-events: none;
		left:0;
		&__on{
			pointer-events: all;
			opacity: 0.87;
		}
	}
	&_saleprice{
		color: #ca2525;
		font-weight: 100;
		margin-top: 0;
		text-decoration: line-through;
		font-size: 12px;


	}
	&_regularprice{
		margin-bottom: 3px;
		font-weight: 500;
		font-size: 12px;

	}
	&_container{
		padding: 20px 28px;
		position: fixed;
		max-width:90%;
		width: 340px;
		max-height: 90%;
		height: 720px;
		bottom: 16px;
		right: 16px;
		z-index: 9999;
		border-top-left-radius: 60px;
		border-top-right-radius: 100px;
		border-bottom-left-radius: 70px;
		text-align: center;
		opacity: 0;
		pointer-events: none;
		overflow-y: auto;
		&__on{
			transition: 500ms all ease-in;
			transition-delay: 350ms;
			pointer-events: all;
			opacity: 1;
		}
		h3, h4{
			font-size: 15px;
			margin-top: 30px;
			color: $maincolor;
			font-weight: 400;
			letter-spacing: 0.025rem;
		}
	}
	&_total_row{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 26px 0;
	}
	&_total{
		text-align: left;
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-weight: 500;
		span{
			font-weight: 300;
		}
	}
	&_checkout{
		&_button{
			background-color: $maincolor;
			padding: 10px;
			border-top-left-radius: 90px;
			border-top-right-radius: 90px;
			border-bottom-left-radius: 80px;
			padding: 10px 20px;
			color: white;
			font-weight: 500;
			box-shadow: 10px 17px 10px -15px rgb(0, 0, 0);
			a{
				color: white;
				&:hover{
					color:white !important;
					
				}
			}
		}
	}
	&_carousel{
		max-height: 180px;
		.owl-stage{
			margin:0 auto;
		}
		.owl-item{
			padding: 2px;
		}
		.wmc_title p{
			
			font-weight: 500;
			font-size: 12px;
			line-height: 0.9rem;
			margin-top: 8px;
			margin-bottom:0;
			color: black;
		}
		.wmc_price p{
			color: black;
		}
	}
	&_footer_link{
		position: absolute;
		list-style: none;
		display: flex;
		width: calc(100% - 100px);
		justify-content: flex-end;
		font-size: 0.9rem;
		padding-left: 18px;
		bottom: 0;
		height: 64px;
		li{
			display: flex;
			align-items: center;
			padding: 0 14px;
		}
		a{
			color: black;
			font-weight: 300;
			font-size: 14px;
			text-decoration: underline;
		}
	}
	&_close{
		background-image: url(../img/close.svg);
	    width: 30px;
		height: 30px;
		background-size: 100%;
		background-repeat: no-repeat;
		position: absolute;
		right: 18px;
		bottom: 18px;
		cursor: pointer;	
	}
	&_cart{
		&_empty_message{
			font-size: 14px;
		}
	}

}

